main{
    position :absolute; 
    top :60px; 
    left:15px
}
#_1{
    display:flex;
}
#_3{
    text-align: initial;
    margin: 115px;
}
#_3 h1{
    margin: 45px;
}
#_3 p{
    font-size : 20px;
    margin:45px;
}
/***** animation button */
#_3 button{
    margin:45px;
}
button {
    background: black; outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
    color: white;
    cursor:pointer;
  }

  /*button:before (attr data-hover)*/
  button:hover:before{opacity: 1; transform: translate(0,0);color:#fff;cursor:pointer}
  button:before{
    content: attr(data-hover);
    position: absolute;
    top: 1.1em; left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    /*transform: translate(-100%,0);*/
    transform : translate(0,-100%);
    transition: all .3s ease-in-out;
    cursor:pointer;
  }
    /*button div (button text before hover)*/
    button:hover div{opacity: 0; transform: translate(0,100%)}
    button div{
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      transition: all .3s ease-in-out;
      cursor:pointer;
    }

    /************ formulaire ****************/

    #_4{
        width : 1088px;
        height: 745px;
        background-color:#fff;
        position : absolute;
        right:0%;
        display:none;
    }
    #close_form{
        cursor:pointer;
        font-size:25px;
        position: absolute;
        right: 5%;
        color:gray;
    }
    #close_form:hover{
        cursor:pointer;
        color:red;
    }
    form label, .fat, .fat-send {
        -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
        -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
        -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
        transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    }
    form {
        position: absolute; left: calc(50% - 250px); top: 30%;
        display: inline-block;
        width: 500px;
        box-sizing: border-box;
        padding: 30px 25px;
        border-radius: 4px;
    }
    
    h1 {
        color: #fff;
        font-size: 2em; font-weight: 600;
        margin: 1em 0 1.5em;
        text-align: center;
        text-transform: uppercase;
    }
    
    .group-form {
        position: relative;
        padding: 10px 0;
    }
    .group-form:first-of-type {padding-top: 0;}
    .group-form:last-of-type {padding-bottom: 0;}
    
    .fat {
        border:0;
        border-bottom: 1px solid #1d2027;
        background-color: #fff;
        width: 100%;
        position: relative; z-index: 1;
        display: block;
        box-sizing: border-box;
        padding: 10px 20px;
        color: #272a33;
        line-height: 0;
        font-size: 1em;
    }
    .fat:focus, .fat:valid {
        background-color: #fff;
        color: #000;
        margin-top: 30px;
    }
    .fat:focus ~ label {
        -webkit-transform: translate(0, -40px);
        transform: translate(0, -40px);
        color: #000;
    }
    .fat:valid ~ label {
        -webkit-transform: translate(0, -40px);
        transform: translate(0, -40px);
        color: #000;
    }
    
    .fat.error {
        border-color: #e74c3c;
    }
    
    .fat-send {
        border: 1px solid #1d2027;
        background-color: #fff;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 4px;
        padding: 15px 28px;
        color:#000;
        line-height: 0;
        font-size: 1em;
    }
    .fat-send:hover {
        background-color: #1d2027;
        color:#fff;
    }
    label {
        transform-origin: left center;
        box-sizing: border-box;
        padding: 10px 20px;
        display: block;
        position: absolute;
        margin-top: -34px;
        z-index: 2;
        pointer-events: none;
        color: grey;
        line-height: 0;
        font-size: 1.25em;
    }    
    textarea[type="text"]{
        width: 100%;
        color: black;
        height: 100px;
        border: 0;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: 0px;
        border-bottom: 1px solid black;
    }