#hors_ligne,#en_ligne,#article,#off,#on,#produit,#off_ligne,#on_ligne,#chronique{
    text-decoration:none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    cursor: pointer;

}
#hors_ligne,#en_ligne,#article,#off,#on,#produit,#off_ligne,#on_ligne,#chronique {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#hors_ligne::after,#en_ligne::after,#article::after,#off::after,#on::after,#produit::after,#off_ligne::after,#on_ligne::after,#chronique::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    cursor: pointer; 
}

#hors_ligne:hover::after,#en_ligne:hover::after,#article:hover::after,#off:hover::after,#on:hover::after,#produit:hover::after,#off_ligne:hover::after,#on_ligne:hover::after,#chronique:hover::after {
    width: 100%;
    cursor: pointer;

}
 
/*animation trait*/

#aI{
    text-decoration:none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
    cursor: pointer;

}
#aI {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#aI::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    cursor: pointer; 
}

#aI:hover::after{
    width: 100%;
    cursor: pointer;

}