/**animation*/
#p_anim {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
}

#anim {
    font-size:30px;
	display: block;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    text-decoration:none;

/* Clip Background Image */

	background: url("../admin/degrader.jpg") repeat-y;
	-webkit-background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 10s linear infinite;

/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: -200% 50%; }
	100% { background-position: 250% 50%; }
  0% { background-position: -100% 50%; }
}
/*** colonne de gauche**/

#top_column{
    background-color: whitesmoke;
    color:darkgray;
}

#medium_column{
    display:flex;
}

#medium_column2{
    width:25%;
    height:100%;
    background-color:white;
}

#medium_column_parent{
    width:100%;
    font-size: 15px; 
    text-align:initial;
}

#medium_child{
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding:25px 0px;
    text-align: center;
}
#medium_child{
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding:25px 0px;
    text-align: center;
}
#medium_child2 h1 {
    margin: 9px 15px;
    font-style: oblique;
    letter-spacing: 2px;
}
#border{
    width: 64px;
    height: 4px;
    background-color: black;
    border-radius: 8px;
    margin: 12px 16px;
}
#medium_child2 p {
    margin: 30px 15px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;   
}
#medium_column_parent2{
    width:100%;
}
#medium_column_parent2 a {
    font-size:15px; 
    text-decoration:none;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
}
/********* images  ****************/
#slider{
    display: flex;
    width:75%;
}
.slide1,.slide2,.slide3{
    position: absolute;
    width:100%;
    height: 100%;

}

.slide1{
    width:1400px; 
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 8s infinite;
}
.slide2{
    width:1400px; 
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 8s infinite;
}
.slide3{
    width:1400px; 
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 8s infinite;
}

@keyframes fade1{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade2{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fade3{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

