footer{
    background: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 16px 81px;
}

footer a {
    text-decoration:none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
}
footer p{
    text-decoration:none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;

}