.svg-icon:hover{
  fill:red;
}
.reload{
  padding: 5px 21px;border-radius: 20px;background-color: white;color: grey;cursor: pointer;border: 1px solid gray;box-shadow: 1px 1px 1px gray;
}
.reload:hover{
  background-color: gray;
  color: white;
}
.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: black;
}

.text {
  color: black;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 4px;
  line-height: 26px;
  position: relative;
  top: -48px;

}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}