@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;

}

  section.container{
    min-width: 500px;
    margin: 10% auto;
    /*text-align: center;*/
    position : absolute;
    left:13%;
  }


    h1{font-size: 2em; padding: 20px 0; color:#fff}
    button div a {
        color:white;
    }

    button:hover{cursor: pointer}
    button {
      background: black; outline: none;
      position: relative;
      border: 2px solid #111;
      padding: 15px 50px;
      overflow: hidden;
      color: white;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);color:#fff;}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      /*transform: translate(-100%,0);*/
      transform : translate(0,-100%);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(0,100%)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
.slide1,.slide2,.slide3{
    position: absolute;
    width:100%;
    height: 100%;

}

.slide1{
    background-image: url('../photohome/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 8s infinite;
}
.slide2{
    background-image: url('../photohome/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 8s infinite;
}
.slide3{
    background-image: url('../photohome/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 8s infinite;
}

@keyframes fade1{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade2{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fade3{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}