
  .card-container form {
   max-width: 350px;
   text-align: center;
  }
  .form-container{
    width: 500px;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -33px;
    width: 700px;
    box-shadow: 1px 4px 8px 2px gray;
    margin: 0 auto;
    height:600px;
    position: absolute;
    left: 12%;
    top:20%;
  }
  .form-container form {
    margin: 10px auto;
  }
  .form-container input {
    margin: 0 0 10px 0;

  }
  input.secondRow {
    float: left;
    display: block;
    width: 100%;
  }
  
  .form-container label {
    text-align: left;
    float: left;
    padding: 5px 0 0px 5px;
    width: 100%;
    font-family: arial;
    text-transform: uppercase;
    font-size: 14px;
    /* font-weight: bold; */
  }
  
  input.button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
   input:not([type=submit]):not([type=file]) {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
  }

#card-elements{
  box-shadow: 1px 1px 1px 1px gray;
  margin: 25px auto;
  width: 517px;
  padding: 23px;
  font-size: 25px;
  border-radius: 8px;
}
#card-errors{
  font-size: 20px;
  color: darkred;
  margin: 15px auto;
}

.card-button{
  width: 515px;
  margin: 15px auto;
  font-size:20px;
  padding: 20px;
  background: black;
  color: #fff;
  font-size: 20px;
  box-shadow: 1px 1px 1px 0px gray;
  border: none; 
  cursor:pointer;
  border-radius: 8px;
}
.card-button:hover{
  background: #43458b;
}
#cardholder-name{
  box-shadow: 1px 1px 1px 1px gray;
  margin: 15px auto;
  width: 517px;
  padding: 23px;
  font-size: 16px;
  border-radius: 8px;
}  
#card-email{
  box-shadow: 1px 1px 1px 1px gray;
  margin: 15px auto;
  width: 517px;
  padding: 23px;
  font-size: 16px;
  border-radius: 8px;
}
#card-adress{
  box-shadow: 1px 1px 1px 1px gray;
  margin: 15px auto;
  width: 517px;
  padding: 23px;
  font-size: 16px;
  border-radius: 8px;
}
/********summary ordered *********/
#summary_ordered{
  box-shadow: 1px 4px 5px 3px gray;
  background-color: white;
  width: 600px;

  position: absolute;
  right: 0.2%;
  top: 7%;
}
#summary_ordered_bottom{
  background-color: white;
  width: 599px ;
  text-align: left;

  font-size: 20px;
}