@import url("https://p.typekit.net/p.css?s=1&k=qgy5yjv&ht=tk&f=45504.45505.45510.45511&a=45096923&app=typekit&e=css");
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
   /* border:0; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "alga",serif;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    height: 100%;
    text-align: center;
}
main{
    margin-bottom: 60px;
}
.flex{
    flex-wrap: wrap;
    display: flex;
}
.justify{
    justify-content: space-between;
}
    @font-face {
    font-family:"alga";
    src:url("https://use.typekit.net/af/578f06/00000000000000003b9b482e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/578f06/00000000000000003b9b482e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/578f06/00000000000000003b9b482e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }

    
/************** animation text ****************************/
